@model MovieTheatre.Data.Session

<div class="form-group">
    <label asp-for="MovieId" class="control-label"></label>
    <input asp-for="MovieId" class="form-control" />
    <span asp-validation-for="MovieId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Time" class="control-label"></label>
    <input asp-for="Time" class="form-control" />
    <span asp-validation-for="Time" class="text-danger"></span>
</div>
